.education-container {
    margin-top: 50px;
    text-align: center;
}

.education-card {
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.education-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

/* Agregamos un span alrededor del emoji para animarlo */
.education-title .hat {
    display: inline-block;
    font-size: 1.5em;
    transform-origin: center bottom;
}

/* Definimos la animación */
@keyframes throwHat {
    0% {
        transform: translateY(50px) rotateZ(0deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px) rotateZ(360deg);
        opacity: 1;
    }
}


/* Aplicamos la animación cuando la sección es visible */
.education-title.visible .hat {
    animation: riseHat 1.5s ease-out forwards;
    display: inline-block;
    transform-origin: center;
}


.education-subtitle {
    font-size: 18px;
    color: #666;
}

.education-text {
    font-size: 16px;
    color: #444;
}
