/* Aqui organizo los estilos generales de todo mi proyecto */
html, body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black; /* Imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Para ocupar toda la pantalla */
  color: white; /* Color de texto */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
